@CHARSET "UTF-8";
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
	padding: 0;
	margin: 0;
	border: none;
}
#top{
	height: 80px;
	width:100%;
	top:0;
	left:0;
	background:#f6f6f6;
	position: absolute;
	text-align: center;
}
#top>span{
	display:inline-block;
}
#top>span:nth-child(1){
	line-height: 80px;
	width:30%;
	text-align: left;
	margin-left:5%;
	color: #000;
}
#top>span:nth-child(2){
	line-height: 80px;
	width:50%;
	text-align: right;
	color: #2196f3;
	font-weight: bold;
}
#top>span:nth-child(2):hover{
	cursor: pointer;
	
}
.container{
	margin-top: 85px;
	background: rgba(248,248,248,0.7);
	border: 3px solid  rgb(248,248,248);
	border-radius: 10px;
	max-width: 768px;
	min-width: 300px;
	width: 80%;
	margin-top: 30%;
}
tr>td:nth-child(1){
	color:#2196f3;
	text-align:center;
}
td{
	width: 50%;
}
tr{
	height: 45px;
}
table {
	border: 2px solid #e0e0e0;
	box-shadow: activeborder;
}
.btn,.btn:hover{
	width: 60%;
	background: #449edd;
	color: #FFF;
	font-weight: bold;
}
.btn:hover{
	opacity: 0.8;
}
#footer{
	height: 80px;
	width:100%;
	background:#f6f6f6;
	bottom:0;
	left:0;
	position: absolute;
	text-align: center;
}
#footer>p{
	text-align: center;
	line-height: 15px;
	color:gray;
}
#footer>p:NTH-CHILD(1) {
	margin-top:15px;
}
#userName{
	color: #449edd;
}
.container>h2{
	margin-left:5%;
}
#update,#cancle{
	width: 25%;
}
#cancle{
	margin-left:5%;
	background: #FFF;
	color:#449edd;
	border:1px solid #449edd;
}
@media screen and (min-width:800px){
	.container{
		margin-top: 10%;
	}
	#footer{
		background:#e1e1e1;
	}
}
@media screen and (max-width:500px){
	td>input{
		width: 100%;
	}
}
